/* Home page */
header {
  height: 50px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
  margin-right: 20px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  padding: 5px 30px;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}

.main-nav .active a {
  border: 1px solid white;
}

.main-nav li a:hover {
  border: 1px solid white;
}

body {
  font-family: "Abel";
}

body.home {
  background-image: url(./images/background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;  
  margin: auto;
}

.row {
  margin: auto;
}

.title {
  margin-top: 60px;
  position: absolute;
  width: 100vw;
}

.title h1{
  color: white;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
  margin-top: 260px;
}

.button {
  margin-top: 20px;
  text-align: center;
}

.btn {
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 15px;
  text-transform: uppercase;
}

.btn-one {
  font-family: "Abel";
  text-align: center
}

.btn-one:hover {
  background-color: #50757e;
  transition: all 0.5s ease-in;
}

.btn-two {
  font-family: "Abel";
  text-align: center
}

.btn-two:hover {
  background-color: #50757e;
  transition: all 0.5s ease-in;
}

/* Gallery page */

body.stuff {
  background-color: #496f7a;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.stuff h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

.stuff p {
  color: white;
  text-align: center;
  font-size: 25px;
  margin: 10px;
}

.stuff a {
  color: white;
}

.stuff p a:hover {
  color: black
}

div.gallery {
  margin: 10px;
  float: left;
  width: 300px;
}

div.gallery img {
  margin: 10px;
  margin-left: 60px;
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(0%);
}

div .gallery img:hover {
  filter: none;
  -webkit-filter: grayscale(100%);
  transition: all .5s ease-in-out;
}

/* Style for the about page */

body.about {
  margin-bottom: 0;
  padding: 0;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-position: center;
}

.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
}

.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box h1{
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 100;
  margin: 10px;
}

.box h5{
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 100;
  margin: 5px;
}

.box p{
  font-size: 20px;
  text-align: justify;
  margin: 10px;
}

.box ul{
  margin: 0;
  padding: 0;
}

.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.box li a{
  color: white;
  text-decoration: none;
  font-size: 40px;
  transition: all ease-in-out 250ms;
}

.box li a:hover{
  color: #b9b9b9;
}

/*Responsive styling*/

@media (max-width:800px) {
  .main-nav {
    float: none;
    list-style: none;
    margin-top: 30px;
    margin-right: 10px;
  }
  
  .main-nav li {
    display: inline-block;
  }
  
  .title h1{
    font-size: 50px;
    margin-top: 10px;
  }
  
  .box {
    margin-right: 100px;
  }
  
}

